# Checking-in and Checking-out
*              text=auto
*.c            text diff=cpp
*.h            text diff=cpp
*.java         text diff=java
*.jpg          binary
*.json         text
*.md           text diff=markdown
*.png          binary
*.prefs        text
*.py           text diff=python
*.toml         text
*.txt          text
.clang-format  text
CMakeLists.txt text

# Archive Creation
.gitattributes export-ignore
.gitignore     export-ignore
