# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# CMake
**/bin/
**/build/

# Python Environment
.venv/

# Generated Output
**/results.txt

# Miscellaneous
**/.DS_Store
