# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/settings.prefs

# CMake
**/bin/
**/build/

# Java
**/*.class

# Python Environment
.venv/

# Generated Output
**/results.txt

# Miscellaneous
**/.DS_Store
